<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="navegacion-seccion" th:remove="tag">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <hr class="sidebar-divider">

        <!-- GESTION DE MÉTRICAS -->
        <div class="sidebar-heading">GESTION DE METRICAS</div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">
                <i class="fas fa-fw fa-chart-line"></i>
                <span>DASHBOARD</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- GESTION DE USUARIOS -->
        <div class="sidebar-heading">GESTION DE USUARIOS</div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer}">
                <i class="fas fa-fw fa-users"></i>
                <span>CUSTOMERS</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- GESTION DE PRODUCTOS -->
        <div class="sidebar-heading">GESTION DE PRODUCTOS</div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>PRODUCTS</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- GESTION DE POST -->
        <div class="sidebar-heading">GESTION DE POST</div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/pos}">
                <i class="fas fa-fw fa-store"></i>
                <span>POS</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- GESTION DE IDIOMAS -->
        <div class="sidebar-heading">GESTION DE IDIOMAS</div>
        <li class="nav-item text-center">
            <i class="fas fa-cog"></i>
            <a class="text-white" >ES</a> |
            <a class="text-white" >EN</a>
        </li>

    </ul>
    <!-- End of Sidebar -->
</div>
