<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navegacion-seccion" th:remove="tag">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GESTION DE METRICAS
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-fw fa-table"></i>
                <span>DASHBOARD</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GESTION DE USUARIOS
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer}">
                <i class="fas fa-fw fa-table"></i>
                <span>CUSTOMERS</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GESTION DE PRODUCTOS
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">
                <i class="fas fa-fw fa-table"></i>
                <span>PRODUCTS</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GESTION DE POST
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/pos}">
                <i class="fas fa-fw fa-table"></i>
                <span>POS</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->
</div>



