html{
    background: #68670f;
}

h1{
    background: #68670f;
}

body {
    background: #f8f9fa;
}
.invoice-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.table th {
    background: #0d6efd;
    color: white;
}
.invoice-header {
    border-bottom: 2px solid #0d6efd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.invoice-title {
    font-size: 28px;
    font-weight: bold;
    color: #0d6efd;
}
.total-box {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    background: #e9ecef;
}